
@{
    ViewBag.Title = "Index";
}

<h2>Customer</h2>

<div className="ui container" id="CustomerPage"></div>
<script type="text/javascript" src="@Url.Content("~/Scripts/react/dist/customer.js")"></script>
