
@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>
<div className="ui container" id="SalesPage"></div>
<script type="text/javascript"
        src="@Url.Content("~/Scripts/react/dist/sales.js")"></script>



