
@{
    ViewBag.Title = "Products";
}

<h2>Product</h2>

<div className="ui container" id="ProductPage"></div>
<script type="text/javascript"
        src="@Url.Content("~/Scripts/react/dist/product.js")"></script>

