
@{
    ViewBag.Title = "Index";
}

<h2>Store</h2>

<div className="ui container" id="StorePage"></div>
<script type="text/javascript" 
        src="@Url.Content("~/Scripts/react/dist/store.js")"></script>

