@{
    ViewBag.Title = "Onboard";
}

<div class="ui container">
    <h2>Welcome to Junfeng's onboarding task.</h2>
    <div class="ui horizontal divider"></div>
    <hr />
    <div class="ui list">
        <a class="item" href="/Customer/Index">
            <div class="ui horizontal label huge">Customers</div>
        </a>
        <br />
        <a class="item" href="/Store/Index">
            <div class="ui horizontal label huge">Stores</div>
        </a>
        <br />
        <a class="item" href="/Product/Index">
            <div class="ui horizontal label huge">Products</div>
        </a>
        <br />
        <a class="item" href="/Sales/Index">
            <div class="ui horizontal label huge">Sales</div>
        </a>
        <br />
    </div>
   
</div>